

<% linkPrefix = 'admin' %>

<% include ./../../helper/status.ejs %>
<% include ./../../helper/filter-status.ejs %>
<% include ./../../helper/pagination.ejs %>

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Danh mục sản phẩm</h1>
    </div>
</div>
<div class="card card-info card-outline">
	<div class="card-header">
		<h6 class="card-title">Search & Filter</h6>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
		</div>
	</div>
	<div class="card-body">
		<div class="row justify-content-between">
			<div class="mb-1">
				<div class="btn-search">
					<%- filterStatusHelper(statusFilter, keyword) %>
				</div>
			</div>
			
			<div class="mb-1">
				<form action="<%= linkPrefix %>/category/<%= currentStatus%>" method="get">
					<div class="input-group">
						<input type="text" class="form-control form-control-sm" name="keyword" value="<%= keyword%>"" placeholder="Search for..." style="min-width: 300px">
						<div class="input-group-append">
							<a type="button" class="btn btn-sm btn-danger"  href="<%= linkPrefix %>/category/<%= currentStatus%>">Clear</a>
							<button type="submit" class="btn btn-sm btn-info" id="btn-search">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="card card-info card-outline">
	<div class="card-header">
		<h4 class="card-title">List</h4>
		<div class="card-tools">
			<div class="btn-group">
				<button type="button" class="btn btn-info" data-toggle="dropdown" aria-expanded="false">Change Status</button>
				</>
				<div class="dropdown-menu" role="menu" >
					<button type="button" onClick="javascript:changeMultiStatus('active','<%= linkPrefix%>change-status/multi')" class="dropdown-item" data-toggle="modal" data-target="#modal-success">
						Change to Active
						</button>
					<div class="dropdown-divider"></div>
						<button type="button" onClick="changeMultiStatus('inactive','<%= linkPrefix%>change-status/multi')" class="dropdown-item" data-toggle="modal" data-target="#modal-danger">
							Change to Inactive
						</button>
					</div>
				</div>
			<a href="category/form" class="btn btn-warning" style="background-color: #F0AD4E; color: white; font-weight: 500;">Add New</a>
			<button type="button" class="btn btn-danger" onClick="deleteMultiItems('<%= linkPrefix%>delete/multi')" data-toggle="modal" data-target="#modal-danger">
				<i class="fas fa-trash-alt"></i>Delete Multi
			</button>
		</div>
	</div>
	<div class="card-body">
		<!-- Control -->
		<form action="" method="post" class="table-responsive" id="zt-form">

			<!-- List Content -->
		
			<table class="table table-bordered table-hover text-nowrap btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input cbAll" type="checkbox" id="check-all">
								<label for="check-all" class="custom-control-label"></label>
							</div>
						</th>
						<th class="text-center">#</a></th>
						<th class="text-center">Name</a></th>
						<th class="text-center">Status</a></th>
						<th class="text-center">Ordering</a></th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<% items.forEach((value,index) => { %>
                    <tr>
						<td class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" name="cid" >
								<label for="" class="custom-control-label"></label>
							</div>
						
						</td>
						<td class="text-center"><%= index+1 %></td>
						<td class="text-center"><%= value.name %></td>

						<td class="text-center position-relative">
							<%- statusHelper(value.status, "#") %>
						</td>

						<td class="text-center position-relative" >
							<input type="number" name="items-ordering" value="<%= value.ordering %>" class="text-center ordering">
						</td>

						<td class="text-center">
							<a href="" class="rounded-circle btn btn-sm btn-info " title="Edit">
								<i class="fas fa-pencil-alt"></i>
							</a>
         
							<button type="button" class="rounded-circle btn btn-sm btn-danger">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
					</tr>
					<% })  %>
				</tbody>
			</table>
		</form>
	</div>
	<div class="col-lg-12">
		<%= JSON.stringify(pagination) %>
		<!--Pagination-->
		<%- paginationHelper(pagination, currentStatus, keyword) %>
	    <!--Pagination-->
	</div>
</div>
